* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5em;
	background: white;
	color: black;
}

/*Menu bar*/
#main-menu {
    padding-top: 10em;
    background-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));

}

#main-menu ul {
	padding: 0.5em 0;
	text-align: center;
}

#main-menu li {
	list-style: none;
	padding: 0.1em 0.5em;
}

img[src="images/logo.png"]{
    padding-right: 20px;
    padding-bottom: 0.5em;
}

#main-menu a {
	display: block;
	color: white;
    text-decoration: none;
    margin-top:0.5em;
	padding: 0.25em 1em;
	text-transform: uppercase;
	border-radius: 3px;
	text-shadow: rgba(0,0,0,0.5) 0 1px 0;
}



#main-menu a:hover {
    background: white;
    color:black;
}



/*Page header */
#page-header {
	background-size: cover;
	background-position: center center;
	text-align: center;
	font-size: 1.4em;
    line-height: 1.5em;
    padding-bottom: 2em;
}


#page-header #logo img {
    max-width: 400px;
    max-height: 400px;
    padding: 15px 5px 5px 5px;
    border-radius: 80%;
    background-color: rgb(255, 145, 0);
}

#page-header{
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.2);
}

/*Attractions columns*/
img {
    max-width: 100%;
    width:430px;
  }

#attraction-title{
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: 300;
    color: black;
    margin-top:0.5em;
    padding-left: 0.5em;
    padding-bottom: 40px;
    text-align: left;
    padding-top: 1em;
    font-size:1.5em;
}

.attraction-container{
    margin-top: 7em;
    border-radius: 15px;
    background-color: white;    
    padding-bottom: 1em;
    margin-left:4.5em;
    margin-right: 4.5em;
}  
.about {
    background-color: rgb(223, 222, 222);
    border-radius: 10px;
    margin: 1.5em;
    padding: 30px;
    align-content: center;
    display: block;
    font-size: 1.15em;
}

.text{
    display: inline-block;
    width:80%;
    padding-top: 0.8em;
    font-size:0.5em;
    text-align: left;
}

.text > h2{
    text-align: center;
    padding-bottom: 0.5em;
}

.text > p{
    text-align: left;
    margin: 0;
}

.cycle-slideshow{
    display: block;     
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/*Button styles*/
.button-container{
    padding:0.4em 0 0.4em 0;
    margin-right:1.2em;
    margin-top: 0.2em;
    display: none;
}

.button-container button{
    padding:0.5em;
    font-size:0.7em;
    background-color: ivory;
    border-radius: 15%;
}

.button-container button:hover{
    background-color: black;
    color:white;
    cursor: pointer;
    text-shadow:
    0.07em 0 black,
    0 0.07em black,
    -0.07em 0 black,
    0 -0.07em black;
}
/* Footer bar*/
.contain{
    background: rgb(59, 58, 58);
    display: block;
    height: 50%;
    text-align: center;
    
}

.contain img{
    padding-bottom: 0.5em;
}

.headcontain{
    font-size: 12px;
    padding: 20px 20px 20px;
    height: auto;
}


.links ul{
    display: flex;
    justify-content: center;
    padding: 1em;
}

.links ul li{
    list-style: none;
	padding: 0.1em 0.5em;
}

.links a{
    text-decoration: none;
    font-size: 1.5em;
    color: white;
    padding:0.5em;
}

.links a:hover{
    background: white;
    color:black;
    border-radius: 3px;
}

.fa {
    padding: 15px;
    width: 20px;
    text-align: center;
    text-decoration: none;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}
  

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
  }
  
  .attraction-gallery p{
    text-align: center;
    text-transform: uppercase;
    text-decoration: wavy;
    font-weight: 500;
    font-size: 1em;
    padding-bottom: 1em;
  }

@media only screen and (min-width:1170px) {
    #page-header {
		height:500vh;
	}
}

@media only screen and (width:1250px) {
    #page-header {
		height: 430vh;
	}
}


@media only screen and (min-width:1270px) {

	body {
		font-size: 16px;
		line-height: 1.5em;
	}

    /* Main Menu */
    #main-menu {
        padding-top: 0;
    }

	#main-menu ul {
		display: flex;
		justify-content: center;
		padding: 0;
		text-align: left;
	}
    #page-header #logo {
        padding-top: 6.5%;
        padding-bottom: 2.5%;
        max-width:100%;
        height: auto;
        display: block;
    }
    
	#main-menu li {
		padding: 0.75em 0.5em;
    }
    #page-header {
		height: 430vh;
	}

	#page-header h1 {
        width:100%;
		font-size: 3em;
    }
    #page-header > p{
        background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5));
        font-size:2em;
        display:block;
    }

    #attraction-title{
        font-size: 2em;
    }

    .about{
        display: flex;
    }
    
    .text{
        padding-top: 0.2em;
        padding-left: 1em;
        font-size: 1em;
    }

    .attraction-container{
        margin-top: 7em;
        border-radius: 15px;
        background-color: white;
        margin-left: 240px;
        margin-right:240px;
        padding-bottom: 1em;
    }
    
    
    .text > h2{
        text-align: left;
    
    }

    .text{
        font-size: 1em;
    }

    .contain{
        background: rgb(59, 58, 58);
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center; 
    }   
    .button-container_js{
        padding:0.4em 0 0.4em 0;
        margin-right:1.2em;
        margin-top: 0.2em;
        display: block;
    }
    
}