* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5em;
	background: white;
	color: black;
}

/*Menu bar*/
#main-menu {
    padding-top: 10em;
    background-image: linear-gradient(to bottom, rgb(160, 160, 160), rgba(255, 255, 255, 0));
    
}

#main-menu ul {
	padding: 0.5em 0;
	text-align: center;
}

#main-menu li {
	list-style: none;
	padding: 0.1em 0.5em;
}

img[src="images/logo.png"]{
    padding-right: 20px;
    padding-bottom: 0.5em;
}

#main-menu a {
	display: block;
	color: white;
	text-decoration: none;
	padding: 0.25em 1em;
	text-transform: uppercase;
    border-radius: 3px;
    margin-top:0.2em;   
	text-shadow: rgba(255, 255, 255, 0.5) 0 1px 0;
}



#main-menu a:hover {
    background: white;
    color:black;
}

#myVideo {
    position: fixed;
    z-index: -1;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    height: auto;
    filter: brightness(25%);
}

/*Page header */
#page-header {
	background-size: cover;
    background-position: center center;
	text-align: center;
	font-size: 1.4em;
    line-height: 1.5em;
    
}



#page-header > p{
    
    margin-bottom: 1.5em;
	font-size: 1.25em;
    line-height: 1.5em;
    color:yellow;
    display:none;
}


/*Content*/
#reference-list{
    display: block;
    margin: 4em;
}

#reference-list h2,
#reference-list p{
    padding:0.5em;
}


/* Footer bottom*/
.contain{
    background: rgb(59, 58, 58);
    display: block;
    height: 50%;
    text-align: center;
    
}

.contain img{
    padding-bottom: 0.5em;
}

.headcontain{
    font-size: 12px;
    padding: 20px 20px 20px;
    height: auto;
}


.links ul{
    display: flex;
    justify-content: center;
    padding: 1em;
}

.links ul li{
    list-style: none;
	padding: 0.1em 0.5em;
}

.links a{
    text-decoration: none;
    font-size: 1.5em;
    color: white;
    
    padding:0.5em;
}

.links a:hover{
    background: white;
    color:black;
    border-radius: 3px;
}

.fa {
    padding: 15px;
    width: 20px;
    text-align: center;
    text-decoration: none;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}
  
.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
  }
  
  .attraction-gallery p{
    text-align: center;
    text-transform: uppercase;
    text-decoration: wavy;
    font-weight: 500;
    font-size: 1em;
    padding-bottom: 1em;
  }


@media only screen and (min-width:770px) {
    #blog-wrap img{
        float: left;
        padding-right: 2em;
        text-align: left;
    }

    #blog-container #blog-title{
        font-size: 3em;
       
     }

     .contain{
        background: rgb(59, 58, 58);
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center; 
    }   
}

@media only screen and (min-width:1170px) {

	body {
		font-size: 16px;
		line-height: 1.5em;
	}

    /* Main Menu */
    #main-menu {
        padding-top: 0;
    }

	#main-menu ul {
		display: flex;
		justify-content: center;
		padding: 0;
		text-align: left;
	}
    #page-header #logo {
        padding-top: 6.5%;
        padding-bottom: 2.5%;
        max-width:100%;
        height: auto;
        display: block;
    }
    
	#main-menu li {
		padding: 0.75em 0.5em;
    }
    #page-header {
		min-height: 100px;
	}

	#page-header h1 {
        width:100%;
		font-size: 4em;
    }
    #page-header > p{
        background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5));
        font-size:2em;
        display:block;
    }

    

    
}