* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
	font-size: 18px;
	line-height: 1.5em;
	background: white;
	color: black;
}

/*Menu nav-bar*/
#main-menu {
    padding-top: 5em;
    background-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
    padding-bottom: 1em;

}

#main-menu ul {
	padding: 0.5em 0;
    text-align: center;
    
}

#main-menu li {
	list-style: none;
	padding: 0.1em 0.5em;
}



#main-menu a {
	display: block;
	color: white;
	text-decoration: none;
    padding: 0.25em 1em;
    margin-top:0.2em;
	text-transform: uppercase;
	border-radius: 3px;
	text-shadow: rgba(0,0,0,0.5) 0 1px 0;
}



#main-menu a:hover {
    background: white;
    color:black;
}



/*Page banner*/
#page-header {
	background-size: cover;
	background-position: center center;
	text-align: center;
	font-size: 1.6em;
    line-height: 1.5em;
    height: 700px;
}

#page-header h1 {
visibility: hidden;
    
}

#page-header > p{
    
    margin-bottom: 1.5em;
	font-size: 1.25em;
    line-height: 1.5em;
    color:rgb(187, 187, 36);
    display:none;
}


#page-header #logo {
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    max-width:100%;
    height: auto;
    display: none;
}

#page-header #logo img {
    max-width: 400px;
    max-height: 400px;
    padding: 15px 5px 5px 5px;
    border-radius: 80%;
    background-color: rgb(255, 145, 0);
}

#page-header{
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.2);
}

/*Accommodation section*/
#stay {
    background:rgb(238, 235, 235);
    padding-top: 100px;
    padding-left: 5em;
	justify-content: center;
}

 #stay article {
	background-repeat: no-repeat;
	background-position: center top;
	background-size: auto 150px;
	padding-bottom: 1.5em;
    padding-top: 10px !important;
    padding-left: 1em;
    padding-right: 1em;
    margin-right: 5em;
}

#stay > h1{
    padding-right: 1.5em;
    padding-top:2em;
}


.Title{
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: 300;
    font-size: 2.4em;
    padding-bottom: 2em;
    padding-top:1.5em;
    color: black;
    
}

#page-header #logo {
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    max-width:100%;
    height: auto;
}
#stay article h3 {
	font-size: 3em;
	line-height: 1em;
	margin-bottom: 1em;
    text-align: center;
}

#stay article h3 a{
    text-decoration: none;
    color: black;
    display: inline-block;
    padding-top: 4em;
}

#stay article h3 a:hover{
    text-shadow: 2px 2px 4px #000000;

}

#stay article > p {
	margin-bottom: 1em;
    color: #777;
    font-size: 1.2em;
}

#stay article .stats > p {
	margin-bottom: 1em;
	font-size: 1.2em;
}

#stay article.aquarium-hotel {
	background-image: url(../images/aquarium.jpg);
}

#stay article.cheese-castle {
    background-image: url(../images/castle.jpg);
}

#stay article.mini-terrarium {
    background-image: url(../images/img_forest.jpg);
}

#attractions > h1{
    padding-top: 1.5em;
}

/*Attraction section*/

.attraction-gallery{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

#attractions{
    padding-bottom: 12em;
}

.attraction-gallery p {
    text-align: center;
    font-size: 18px;
}


.att_img{
    padding: 0 20px 20px;
    height: auto;
}

.att_img a img:hover{
    transform: scale(1.1);
}


/*Blog section*/
.blog{
    background:rgb(238, 235, 235);
}


.blog-container{
    display: block;
    margin:0 auto;
}

.blog h1{
    padding-top: 1.5em;
    color: black;
}


.left_side > p{
    font-size: 1.5em;
    padding-left: 3em;
    padding-right: 3em;
    color: black;
}

.Title:hover {
    text-shadow: 2px 2px 4px #000000;

}

#blog-title,#attraction-title{
    padding-left:2.6em;
}

a > .Title{
  display: inline-block;
  overflow: hidden; 
  align-items: center; 
}

video{
    width: 80%;
    height: 65%;
    padding:5em;
}

/* Email container */

#email-container{
    display: none;
    padding: 1.5em;
    text-align: center;
    background: rgb(112, 112, 112);
    
}

#email-container h1{
    font-size:1.5em;
}

#email-container form{
    padding-top: 1em;
}

#email-container label{
    font-size:1.25em;
    padding-right: 0.25em;
    margin-top: 0.75em;
}

#emailbox{
    margin-top: 0.75em;
    padding: 0.5em;
    width:45vh;
}

#email-button{
    margin-top: 1em;
    padding: 0.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    border-radius: 5px;
}

#emailbox:focus,#email-button:focus{
    outline:none;
}

/* Footer section*/

.contain{
    padding-top: 1.5em;
    background: rgb(59, 58, 58);
    display: block;
    height: 50%;
    text-align: center;
    
}

.contain img{
    padding-bottom: 0.5em;
}

.headcontain{
    font-size: 12px;
    padding: 20px 20px 20px;
    height: auto;
}


.links ul{
    display: flex;
    justify-content: center;
    padding: 1em;
}

.links ul li{
    list-style: none;
	padding: 0.1em 0.5em;
}

.links a{
    text-decoration: none;
    font-size: 1.5em;
    color: white;
    padding:0.5em;
}

.links a:hover{
    background: white;
    color:black;
    border-radius: 3px;
}

.fa {
    padding: 15px;
    width: 20px;
    text-align: center;
    text-decoration: none;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
  }
  
  .attraction-gallery p{
    text-align: center;
    text-transform: uppercase;
    text-decoration: wavy;
    font-weight: 500;
    font-size: 1em;
    padding-bottom: 1em;
  }



@media only screen and (min-width:900px) {

	body {
		font-size: 16px;
		line-height: 1.5em;
	}

    /* Main Menu */
    #main-menu {
        padding-top: 0;
    }

	#main-menu ul {
		display: flex;
		justify-content: center;
		padding: 0;
		text-align: left;
	}

	#main-menu li {
		padding: 0.75em 0.5em;
    }
    #page-header {
		min-height: 80vh;
	}

	#page-header h1 {
        width:100%;
		font-size: 4em;
    }
    #page-header > p{
        background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5));
        font-size:2em;
        display:block;
    }
    #stay article {
		padding: 2em;
    }
    

    .articlesec {
        display: flex;
    }

    #page-header #logo {
        padding-top: 2.5%;
        padding-bottom: 2.5%;
        max-width:100%;
        height: auto;
        display: block;
    }
    
    .attraction-gallery{
        margin-left: 200px;
        margin-right: 200px;
    }

    .blog-container{
        display: flex;
        justify-content: center;
        align-items: center;
        height:100%;
        padding-bottom: 10em;
        
        
    }

    .blog >h1{
        padding-top: 1.5em;
    }

    video{
        width: 75%;
        height: 65%;
    }

    .contain{
        background: rgb(59, 58, 58);
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center; 
    }
    #email-button,#emailbox{
        margin-top: 0;
    }
    .Title{
        font-size: 4em;
    }

    #blog-title,#attraction-title{
        padding-left:1.3em;
    }
    
}